<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">
                <a class="navbar-brand" href="#">Cacaca.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="SignUp">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Login">Login</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>

        </nav>
    </div>

    <div>
        @RenderBody()
    </div>

</body>
</html>
